# 基本C/C++ビルド成果物
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.exe
*.out
*.app

# Visual Studio特有
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# ビルドディレクトリ
x64/
Debug/
Release/

# デバッグ・一時ファイル
*.pdb
*.ipch
*.tlog
*.log
*.sdf
*.opensdf
*.db
*.tmp
*.bak
*.lastbuildstate

# ログファイル
Log.txt